<div class="col-12 animated fadeIn">
    <div class="card">
        <div class="card-body animated fadeIn">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Datos Personales</ng-template>
                        <div class="form-group m-t-20">
                            <div class="col-xs-12">
                                <input formControlName="firstCtrl" name="nombre" class="form-control" type="text" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group m-t-20">
                            <div class="col-xs-12">
                                <input name="apellido" class="form-control" type="text" placeholder="Apellido">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-info mb-2" title="Siguiente" mat-button matStepperNext><i class="mdi mdi-arrow-right-bold" style="font-size: x-large;"></i></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Direccion</ng-template>
                        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl" required>
                        <div>
                            <button class="btn btn-outline-info mb-2" title="Atras" mat-button matStepperPrevious><i class="mdi mdi-arrow-left-bold" style="font-size: x-large;"></i></button>
                            <button class="btn btn-outline-info ml-2 mb-2" title="Siguiente" mat-button matStepperNext><i class="mdi mdi-arrow-right-bold" style="font-size: x-large;"></i></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>Guardar los Cambios.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>


        </div>
    </div>
</div>