<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body" style="min-height: 450px;">
                <h2>Catalogos</h2>

                <div class="container">
                    <div class="row mt-5">
                        <div class="col-6"><button [routerLink]="['/verusuarios']" type="button" class="btn btn-info btn-lg btn-block">Usuarios</button></div>
                        <div class="col-6"><button [routerLink]="['/privilegiosusuarios']" type="button" class="btn btn-info btn-lg btn-block">Privilegios Usuarios</button></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6"><button [routerLink]="['/roles']" type="button" class="btn btn-info btn-lg btn-block">Roles</button></div>
                        <div class="col-6"><button [routerLink]="['/parametros']" type="button" class="btn btn-info btn-lg btn-block">Parametros Generales</button></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6"><button [routerLink]="['/options']" type="button" class="btn btn-info btn-lg btn-block">Options</button></div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body" style="min-height: 450px;">
                <h4 class="card-title">{{ graficos.grafico2.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>

<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico3.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico4.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>