<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Título del panel con estilo h3</h3>
                    </div>
                    <div class="panel-body">
                        Contenido del panel
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico2.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>

<div class="row">


    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico3.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ graficos.grafico4.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data" chartType="doughnut"></app-grafico-dona>

            </div>
        </div>
    </div>

</div>